<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_32_Combine_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
ser1 = pd.Series([2,np.nan,4,np.nan,6,np.nan],
                 index=['Q','R','S','T','U','V'])
ser1

Q    2.0
R    NaN
S    4.0
T    NaN
U    6.0
V    NaN
dtype: float64

In [5]:
ser2 = pd.Series(np.arange(len(ser1)),dtype = np.float64,
                 index =['Q','R','S','T','U','V'])
ser2

Q    0.0
R    1.0
S    2.0
T    3.0
U    4.0
V    5.0
dtype: float64

In [8]:
pd.Series(np.where(pd.isnull(ser1),ser2,ser1),index=ser1.index) #using where coment to fill null value

Q    2.0
R    1.0
S    4.0
T    3.0
U    6.0
V    5.0
dtype: float64

In [9]:
ser1.combine_first(ser2) #shortcut of above code block

Q    2.0
R    1.0
S    4.0
T    3.0
U    6.0
V    5.0
dtype: float64

In [14]:
nan = np.nan
dframe_odds = pd.DataFrame({'X':[1.,nan,3.,nan],'Y':[nan,5.,nan,7.],
                            'Z':[nan,9.,nan,11]})

In [15]:
dframe_evens = pd.DataFrame({'X':[2.,4.,nan,6.,8.],
                             'Y':[nan,10.,12.,14.,16.]})

In [17]:
dframe_odds

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0

In [18]:
dframe_evens

     X     Y
0  2.0   NaN
1  4.0  10.0
2  NaN  12.0
3  6.0  14.0
4  8.0  16.0

In [19]:
dframe_odds.combine_first(dframe_evens)

     X     Y     Z
0  1.0   NaN   NaN
1  4.0   5.0   9.0
2  3.0  12.0   NaN
3  6.0   7.0  11.0
4  8.0  16.0   NaN