<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_18_Drop_Entry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

from pandas import Series ,DataFrame
import pandas as pd

In [4]:
ser1 = Series(np.arange(3) ,index=['a','b','c'])

In [5]:
ser1

a    0
b    1
c    2
dtype: int64

In [6]:
ser1.drop('b')

a    0
c    2
dtype: int64

In [7]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index = ['SF','LA','NY'], columns= ['pop','size','year'])

In [8]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [9]:
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [10]:
dframe1.drop('year',axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7