<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_37_Replace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
ser1 = pd.Series([1,2,3,4,1,2,3,4])

In [5]:

ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [6]:
ser1.replace(1,np.nan) # replace single value

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [8]:
ser1.replace([1,4],[100,400]) # replace multiple value pass a ist

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [10]:
ser1.replace({4:np.nan}) # we also use dictionary

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64