<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_29_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
dframe1 = pd.DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set_1':np.arange(6)})

In [4]:
dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [5]:
dframe2 = pd.DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})

In [6]:
dframe2

  key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [7]:
pd.merge(dframe1,dframe2) # merge the two dataframe

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [9]:
pd.merge(dframe1,dframe2,on='key') # merge by specific columns

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [10]:
pd.merge(dframe1,dframe2,on='key',how='left') # which dataframe to used all the values of the column

  key  data_set_1  data_set_2
0   X           0         NaN
1   Z           1         3.0
2   Y           2         2.0
3   Z           3         3.0
4   X           4         NaN
5   X           5         NaN

In [11]:
dframe2

  key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [12]:
dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [13]:
pd.merge(dframe1,dframe2,on='key',how='right')

  key  data_set_1  data_set_2
0   Q         NaN           1
1   Y         2.0           2
2   Z         1.0           3
3   Z         3.0           3

In [15]:
pd.merge(dframe1,dframe2,on='key', how='outer') #right than sql dataset merge thing

  key  data_set_1  data_set_2
0   X         0.0         NaN
1   X         4.0         NaN
2   X         5.0         NaN
3   Z         1.0         3.0
4   Z         3.0         3.0
5   Y         2.0         2.0
6   Q         NaN         1.0

In [16]:
dframe3 = pd.DataFrame({'key':['X','X','X','Y','Z','Z'],'data_set_3':range(6)})

In [17]:
dframe3

  key  data_set_3
0   X           0
1   X           1
2   X           2
3   Y           3
4   Z           4
5   Z           5

In [18]:
dframe4 = pd.DataFrame({'key':['Y','Y','X','X','Z'],'data_set_4':range(5)})

In [19]:
dframe4

  key  data_set_4
0   Y           0
1   Y           1
2   X           2
3   X           3
4   Z           4

In [20]:
pd.merge(dframe3,dframe4)

  key  data_set_3  data_set_4
0   X           0           2
1   X           0           3
2   X           1           2
3   X           1           3
4   X           2           2
5   X           2           3
6   Y           3           0
7   Y           3           1
8   Z           4           4
9   Z           5           4

In [21]:
df_left = pd.DataFrame({'key1':['SF','SF','LA'],'key2':['one','two','one'],'left_data':[10,20,30]})

In [29]:
df_right=pd.DataFrame({'key1':['SF','SF','LA','LA'],
                       'key2':['one','one','one','two'],
                       'right_data':[40,50,60,70]})

In [30]:
df_left

  key1 key2  left_data
0   SF  one         10
1   SF  two         20
2   LA  one         30

In [31]:
df_right

  key1 key2  right_data
0   SF  one          40
1   SF  one          50
2   LA  one          60
3   LA  two          70

In [32]:
pd.merge(df_left,df_right,on=['key1','key2'],how='outer')

  key1 key2  left_data  right_data
0   SF  one       10.0        40.0
1   SF  one       10.0        50.0
2   SF  two       20.0         NaN
3   LA  one       30.0        60.0
4   LA  two        NaN        70.0

In [34]:
pd.merge(df_left,df_right,on='key1') # pandas automaticaly seprate column for you

  key1 key2_x  left_data key2_y  right_data
0   SF    one         10    one          40
1   SF    one         10    one          50
2   SF    two         20    one          40
3   SF    two         20    one          50
4   LA    one         30    one          60
5   LA    one         30    two          70

In [35]:
pd.merge(df_left,df_right,on='key1',suffixes=('_lefty','_righty'))

  key1 key2_lefty  left_data key2_righty  right_data
0   SF        one         10         one          40
1   SF        one         10         one          50
2   SF        two         20         one          40
3   SF        two         20         one          50
4   LA        one         30         one          60
5   LA        one         30         two          70