<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_23_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data =  Series(['one','two',np.nan,'four'])

In [3]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [4]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [6]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan,np.nan]])

In [7]:
dframe

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  NaN  5.0  6.0 NaN
2  7.0  NaN  9.0 NaN
3  NaN  NaN  NaN NaN

In [8]:
clean_dframe = dframe.dropna()

In [9]:
clean_dframe

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [11]:
dframe.dropna(how='all', axis=1) #for columns

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [13]:
dframe.dropna(how='all') #for rows

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  NaN  5.0  6.0 NaN
2  7.0  NaN  9.0 NaN

In [14]:
npn = np.nan
dframe2 = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])

In [15]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [16]:
dframe2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [17]:
dframe2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [18]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [19]:
dframe.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  1.0  5.0  6.0  1.0
2  7.0  1.0  9.0  1.0
3  1.0  1.0  1.0  1.0

In [20]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [21]:
dframe2.fillna({0:0,1:1,2:2,3:3})

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0
3  1.0  1.0  2.0  3.0

In [22]:
dframe2.fillna(0,inplace=True)

In [23]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  2.0  0.0  5.0  6.0
2  0.0  7.0  0.0  9.0
3  1.0  0.0  0.0  0.0