<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_36_mapping_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
dframe = pd.DataFrame ({'city':['Alma','Brain Head','Fox Park'],
                     'altitude':[3158,3000,2762]})

In [4]:
dframe

         city  altitude
0        Alma      3158
1  Brain Head      3000
2    Fox Park      2762

In [11]:
state_map = {'Alma':'Colorado','Brain Head':'Utah','Fox Park':'Wyoning'}

In [12]:
dframe['state'] = dframe['city'].map(state_map)

In [13]:

dframe

         city  altitude     state
0        Alma      3158  Colorado
1  Brain Head      3000      Utah
2    Fox Park      2762   Wyoning