<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_24_Index_Hierarchy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [ ]:
ser = Series(randn(6), index =[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [ ]:
ser

1  a    0.135232
   b    0.663886
   c   -0.349182
2  a   -0.634746
   b   -1.309881
   c    1.932309
dtype: float64

In [ ]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [ ]:
ser[1]

a    0.135232
b    0.663886
c   -0.349182
dtype: float64

In [ ]:
ser[2]

a   -0.634746
b   -1.309881
c    1.932309
dtype: float64

In [ ]:
ser[:,'a']

1    0.135232
2   -0.634746
dtype: float64

In [ ]:
dframe = ser.unstack() #ser convert in to dataframe

In [ ]:
dframe

          a         b         c
1  0.135232  0.663886 -0.349182
2 -0.634746 -1.309881  1.932309

In [ ]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index = [['a','a','b','b'],[1,2,1,2]],
                    columns= [['NY','NY','LA','SF'],['cold','hot','cold','hot']])

In [ ]:
dframe2

      NY       LA  SF
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [ ]:
dframe2.index.names = ['INDEX_1','INDEX_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY       LA  SF
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [ ]:
dframe2.swaplevel('Cities','Temp', axis=1) #swap the columns level

Temp            cold hot cold hot
Cities            NY  NY   LA  SF
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [ ]:
dframe2.sum(level = 'Temp' , axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

Temp             cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28