<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_17_Reindexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from pandas import Series , DataFrame

import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4] , index = ['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexixo','Canada'], index=[0,5,10])

In [8]:
ser3

0        USA
5     Mexixo
10    Canada
dtype: object

In [9]:
ranger = range(15)

In [10]:
ranger

range(0, 15)

In [11]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexixo
6     Mexixo
7     Mexixo
8     Mexixo
9     Mexixo
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame (randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns= ['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.701705 -0.294224 -0.661362  1.075913 -0.227417
B  2.007850 -0.226952  0.608119 -0.831809  0.153708
D  0.712732  0.679175  0.205016  0.553080 -1.579040
E -0.625647  0.138278 -0.362221  0.149486 -0.194160
F -2.023846  1.437457 -0.397712  1.190759  0.726525

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [14]:
dframe2

       col1      col2      col3      col4      col5
A  0.701705 -0.294224 -0.661362  1.075913 -0.227417
B  2.007850 -0.226952  0.608119 -0.831809  0.153708
C       NaN       NaN       NaN       NaN       NaN
D  0.712732  0.679175  0.205016  0.553080 -1.579040
E -0.625647  0.138278 -0.362221  0.149486 -0.194160
F -2.023846  1.437457 -0.397712  1.190759  0.726525

In [15]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [16]:
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A  0.701705 -0.294224 -0.661362  1.075913 -0.227417   NaN
B  2.007850 -0.226952  0.608119 -0.831809  0.153708   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.712732  0.679175  0.205016  0.553080 -1.579040   NaN
E -0.625647  0.138278 -0.362221  0.149486 -0.194160   NaN
F -2.023846  1.437457 -0.397712  1.190759  0.726525   NaN

In [25]:
#dframe.loc[['A','B','D','E','F'], ]