<a href="https://colab.research.google.com/github/Tahan402/DailyPractice/blob/main/Lecture_20_Data_Alignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
ser1 = Series([0,1,2], index= ['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [4]:
ser2 = Series([3,4,5,6], index=['A','B','C','D'])
ser2

A    3
B    4
C    5
D    6
dtype: int64

In [5]:
ser1 + ser2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [6]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)),columns= list('AB'), index = ['NYC','LA',])

In [7]:
dframe1

     A  B
NYC  0  1
LA   2  3

In [13]:
dframe2 = DataFrame(np.arange(9).reshape(3,3),columns = list('ADC'),index= ['NYC',"SF",'LA'])

In [14]:
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [15]:
dframe1+dframe2

       A   B   C   D
LA   8.0 NaN NaN NaN
NYC  0.0 NaN NaN NaN
SF   NaN NaN NaN NaN

In [16]:
dframe1.add(dframe2,fill_value= 0)

       A    B    C    D
LA   8.0  3.0  8.0  7.0
NYC  0.0  1.0  2.0  1.0
SF   3.0  NaN  5.0  4.0

In [17]:
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [18]:
ser3 = dframe2.iloc[0]

In [19]:
ser3

A    0
D    1
C    2
Name: NYC, dtype: int64

In [20]:
dframe2-ser3

     A  D  C
NYC  0  0  0
SF   3  3  3
LA   6  6  6